<!DOCTYPE html>
<html>
<head>
    <title>Dollar rate</title>
    <link rel="stylesheet" href="/dist/styles.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>Check interval: every <%= interval / 60000 %> min</h2>
        </div>
        <div class="col-4">
            <span class="float-right"><%= mode %> mode: (v2.7.16)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2>Rate history:</h2>
            <div id="currency-chart" style="height: 250px;"></div>
            <div class="table-container">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Sale</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% rates.forEach(function(rate){ %>
                    <tr>
                        <th scope="row"><%= rate.row %></th>
                        <td><%= rate.timestamp %></td>
                        <td><%= rate.currency %></td>
                        <td><%= rate.buy %></td>
                        <td><%= rate.sale %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-5">
            <% if (resetLogBtnExist) { %>
            <a href="/" class="float-right">Reset filter</a>
            <% } %>
            <h2>Operation log:</h2>
            <table class="table table-sm table-striped table-header">
                <thead>
                <tr>
                    <th scope="col" width="90px">Operation_Id</th>
                    <th scope="col" width="90px">Timestamp</th>
                    <th scope="col" width="160px">Operation_Name</th>
                    <th scope="col" width="80px">Status</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
            </table>
            <div class="table-container">
                <table class="table table-sm table-striped">
                    <tbody>
                    <% logs.forEach(function(log){ %>
                    <tr class="<%= log.status === 'ERROR' ? 'warning-row' : ''%>">
                        <td width="90px"><a href="/?operationId=<%= log.operationId %>"><%= log.operationId %></a></td>
                        <td width="90px"><%= log.timestamp %></td>
                        <td width="160px"><%= log.operationName %></td>
                        <td width="80px"><%= log.status %></td>
                        <td><%= log.description %></td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/dist/scripts.min.js"></script>
</body>
</html>
